/data

# chef-service
/chef-service/__pycache__/*
/chef-service/bin/*
/chef-service/lib/*
/chef-service/include/*
/chef-service/pyvenv.cfg

# bbb-service
/bbb-service/__pycache__/*
/bbb-service/bin/*
/bbb-service/lib/*
/bbb-service/include/*
/bbb-service/pyvenv.cfg

# load-generator
/load-generator/__pycache__/*
/load-generator/bin/*
/load-generator/lib/*
/load-generator/include/*
/load-generator/pyvenv.cfg